<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body>  
        <div class="catalogo-musicas">
            <% songs.map ( obj => { %>
                <a class="cartao" href="/detalhes/<%= obj.id %>">
                    <img src="<%= obj.cover %>">
                    <h2><%= obj.title %></h2>
                    <h4><%= obj.artist %></h3>
                    <h5><%= obj.album %></h4>
                </a>
            <% }) %>
        </div>
</body>
</html>