<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/logo_pequena.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body>
    <%- include('header'); %>

    <main class="detalhes">
        <div>
            <img class="cover" src="<%= songs.cover %>" alt="Capa do album">
        </div>
        
        <div class="detalhes-texto">
            <h2>Título: <%= songs.title %></h2>
            <h2>Artista: <%= songs.artist %></h2>
            <h2>Álbum: <%= songs.album %></h2>
        </div>

        <a id="editar" href="/update/<%= songs.id %>"><i class="fas fa-edit fa-lg"></i></a>
        <a id="deletar" href="/deletar/<%= songs.id %>"><i class="fas fa-trash fa-lg"></i></a>
    </main>
    
        <% filteredArray.map ( obj => { %>
            <iframe src=<%= obj.preview %>></iframe>
        <% }) %>
</body>
</html>