<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/logo_pequena.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body>
    <header class="header">
        <form action="/detalhes" method="POST"></form>
            <div class="buscar">
                <input type="text" name="musica" id="musica" placeholder="Pesquise pela música" required>
                <button id="lupa" type="submit"><i class="fas fa-search fa-lg"></i></button>
            </div>
        </form>

        <a id="home" href="/"><i class="fas fa-home fa-lg"></i></a>
    </header>

    <main class="detalhes">
        <div>
            <img class="cover" src="<%= songs.cover %>" alt="Capa do album">
        </div>
        
        <div class="detalhes-texto">
            <h2>Título: <%= songs.title %></h2>
            <h2>Artista: <%= songs.artist %></h2>
            <h2>Álbum: <%= songs.album %></h2>
        </div>

        <a id="editar" href="/update"><i class="fas fa-edit fa-lg"></i></a>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>