<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/logo_pequena.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body>
    <header class="header">
        <form action="/detalhes" method="POST"></form>
            <div class="buscar">
                <input type="text" name="musica" id="musica" placeholder="Pesquise pela música" required>
                <button id="lupa" type="submit"><i class="fas fa-search fa-lg"></i></button>
            </div>
        </form>

        <a id="home" href="/"><i class="fas fa-home fa-lg"></i></a>
    </header>

    <main class="cadastro">
        <div class="formulario">
            <form method="POST">
                <div>
                    <label for="cover">Capa do Álbum: </label>
                    <input type="text" name="cover" id="cover" placeholder="Registre a capa do Álbum!" value=<%= songs.cover %>>
                </div>
            
                <div>
                    <label for="title">Título da Música: </label>
                    <input type="text" name="title" id="title" placeholder="Registre o nome da Música!" value=<%= songs.title %>>
                </div>
            
                <div>
                    <label for="artist">Nome do Cantor: </label>
                    <input type="text" name="artist" id="artist" placeholder="Registre o nome do Cantor!" value=<%= songs.artist %>>
                </div>
            
                <div>
                    <label for="album">Nome do Álbum: </label>
                    <input type="text" name="album" id="album" placeholder="Registre o nome do Álbum!" value=<%= songs.album %>>
                </div>
                <div>
                    <label for="gender_id">Genêro da Música: </label>
                        <select name="gender_id" id="gender_id">
                            <option value=1>Pop</option>
                            <option value=2>Rock</option>
                            <option value=3>Folk</option>
                            <option value=4>Indie</option>
                            <option value=5>R&B</option>
                            <option value=6>Hip-hop</option>
                            <option value=7>MPB</option>
                            <option value=8>Sertanejo</option>
                            <option value=9>Forró</option>
                            <option value=10>Funk</option>
                            <option value=11>Pagode</option>
                            <option value=12>Samba</option>
                            <option value=13>Jazz</option>
                            <option value=14>Blues</option>
                            <option value=15>Instrumental</option>
                            <option value=16>Eletrônica</option>
                            <option value=17>Outros</option>
                        </select>
                </div>
            
                <button type="submit">ATUALIZAR</button>
            </form>
        </div>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>